

h1{
		background-color:red;
		color:white;
	}
	.content-body {
		background-color: #efefef;
	}
	
	.content-body a {
		color: #5a967b;
		text-decoration: none;
		font-weight:bold;
	}
	
	.content-body a:hover{
		color: #004400;
		text-decoration: underline;
	}
	
	.content-body a:visited{
		color: #fa967b;
	}
	
	.body-headline {
		padding: 10px;
		background-color: #000;
		color: #ffffff;
		font-size:2em;
	}
	
	.mainNav, .subNav {
		border: 1px solid #ccc;
		padding: 10px;
	}
	
	.mainNav ul, .subNav ul {
		list-style: none;
		margin: 3px;
		padding: 0;
	}
	
	.mainNav {
		background: #efefef;
	}
	
	.mainNav a {
		color: #5a967b;
		text-decoration:none;
		font-weight: bold;
		font-size: 1.1em;
	}
	
	.mainNav a:hover {
		color: #fa967b;
		text-decoration: underline;
		font-weight: bold;
		font-size: 1.1em;
	}
	
	.subNav {
		background: #fff0f2;
		margin-top: 20px;
	}
	
	.subNav a {
		color: #5a967b;
		text-decoration:none;
		font-weight: bold;
		font-size: .8em;
	}
	
	.subNav a:hover {
		color: #004400;
		text-decoration: underline;
	}
	